*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 75%;
}


header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 30%;
}

.logo-header{
    height: 50px;
    margin: 40px 10px;
    
}

h1{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0px;

}

.caption{

    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#writtenby{
    font-size: 15px;
    color: grey;
    margin-left: 10px;
}

#booleaner{
    font-size: 15px;
    color: #4ea0ff;
}

#date{
    font-size: 10px;
    color: grey;
    margin-left: 10px;
    margin-bottom:20px;
}

#photos{
    margin-left: 10px;
}

.highlight{
    background-color: yellow;
}

#firstp{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

ul{
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 15px;
}

table{
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size:15px;
}

.tablecolor{
    background-color: rgba(139, 238, 255, 0.751);
}

th{
    color: white;
    background-color: rgb(29, 171, 227);
    text-align: left;
    height: 10px;
}

th,tr{
    width: 800px;
}

#secondp{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

#mightinterest{
    color: grey;
    font-size: 15px;
    font-weight: 700;
}

#mightinterest1{
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(../img/monitor.jpg);
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-size: 230px;
}

#textmightinterest1{
    color: white;
    font-weight: 800;
    font-size: 19px;
}

#mightinterest2{
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(../img/graph.jpg);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background-size: 230px;
}

#textmightinterest2{
    color: white;
    font-weight: 800;
    font-size: 19px;
}