*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 75%;
}


header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 30%;
}

.logo-header{
    height: 50px;
    margin: 40px 10px;
    
}

h1{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0px;

}

.caption{

    font-size: 10px;
    margin-left: 10px;
}

#writtenby{
    font-size: 15px;
    color: grey;
    margin-left: 10px;
}

#booleaner{
    font-size: 15px;
    color: #4ea0ff;
}

#date{
    font-size: 10px;
    color: grey;
    margin-left: 10px;
    margin-bottom:20px;
}

#photos{
    margin-left: 10px;
}
